@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    /* border: 1px dashed #3CA2B8; */
}

/* IMAGE STYLE SETTINGS */
.avatar-s {
    height: 55px;
    border: 5px solid white;
    border-radius: 50%;
}

.avatar-m {
    height: 75px;
    background-color: white;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 20px;
}

.icon-m {
    height: 35px;
}

.icon-s {
    height: 20px;
    margin-right: 5px;
}

/* HEADER */
.navbar-bg {
    padding: 15px;
    color: white;
    background-color: black;
}

.nav-bar {
    width: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: inherit;
}

.nav a {
    text-decoration: none;
    color: white;
}

.active {
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: 15px;
}

.nav-links li {
    margin-left: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.btn {
    width: 100px;
    padding: 10px;
    background-color: #3CA2B8;
    border: 2px solid black;
    color: white;
}

/* MAIN PAGE*/
.main-page {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 850px;
    margin: 0 auto;
    gap: 10px;
}

.main-content {
    flex: 2;
}

.card {
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 20px;
}

/* User Styling */
.user-head {
    background-color: #3CA2B8;
    background-image: url("icons/water.jpeg");
    background-size: cover;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 7px 7px 0px 0px;
}

.user-content {
    padding: 20px;
}

.user-content p {
    padding-top: 5px;
}

/* Education Styling */
.education h3 {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 7px 7px 0px 0px;
}

.education h4 {
    color: gray;
}

.edu-content {
    padding: 15px;
    line-height: 30px;
}

/* Sidebar Styling */
.sidebar {
    flex: 1;
}

.sidebar-head {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 7px 7px 0px 0px;
}

.notif-btn {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    text-align: center;
    font-size: 1.2em;
    margin-right: 20px;
}

.side-content {
    padding: 10px;
}

.requests {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 20px;
}

.request {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.request-btns {
    padding: 5px;
}

.user-connections {
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
}

.view {
    display: block;
    padding: 15px;
    border-top: 1px solid black;
}